.station--information-modal {
  z-index: 50000000000000000000000;
  position: absolute;
  margin-left: 200px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin-top: 200px;
  background-color: white;
}