@import "../../styles/variables";

.startpagina {
  position: absolute;
  bottom: 0;
  top: 100px;
  right: -50%;
  height: calc(100% - 100px);
  width: 150%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(48px + 3rem) 1fr;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out;
}

.on-button-click {
  right: 0%;
}

.startpagina--input {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  margin: $margin--sides;
  margin-right: 0rem;
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
}

.startpagina--input::-webkit-scrollbar {
  display: none;
}

.startpagina--reizen-title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: flex-end;
  margin-left: 3rem;
  font-family: $font--poppins;
  font-weight: $font-weight--bold;
  font-size: 2rem;
  color: $clr--blue;
}

.startpagina--reizen {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
  margin: 0rem 3rem;
  margin-top: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.startpagina--reizen::-webkit-scrollbar {
  display: none;
}

.startpagina--journeyview {
  margin: 1rem 3rem 3rem 0rem;
  grid-row: 2 / -1;
  grid-column: 3 / 4;
}