@-webkit-keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
  padding: 0 3rem;
  -webkit-box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.nav--logo {
  height: 30px;
}

.nav--right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  margin-right: 1rem;
}

.nav--left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav--left-container a {
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  padding: 1em 1.5em;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  cursor: pointer;
}

.nav--left-container a:hover {
  color: #f1d119;
}

.nav--logoText {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #003183;
}

.nav-hamburger-a {
  display: none;
  cursor: pointer;
}

.nav-hamburger-a:hover .nav-hamburger span {
  background-color: #f1d119;
}

.nav-hamburger {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.nav-hamburger span {
  display: block;
  height: 4px;
  background-color: #003183;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.nav-hamburger span:first-of-type {
  width: 31px;
  margin-bottom: 5px;
}

.nav-hamburger span:last-of-type {
  width: 38px;
}

.nav--selected {
  color: #f1d119;
}

.active-link {
  color: #f1d119;
}

.link {
  color: #003183;
}

@media screen and (max-width: 850px) {
  nav li {
    display: none;
  }
  .nav-hamburger-a {
    display: block;
  }
  .nav--left-container a {
    padding: 1em 0em;
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.startpagina {
  position: absolute;
  bottom: 0;
  top: 100px;
  right: -50%;
  height: calc(100% - 100px);
  width: 150%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: calc(48px + 3rem) 1fr;
      grid-template-rows: calc(48px + 3rem) 1fr;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.on-button-click {
  right: 0%;
}

.startpagina--input {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin: 3rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
}

.startpagina--input::-webkit-scrollbar {
  display: none;
}

.startpagina--reizen-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #003183;
}

.startpagina--reizen {
  grid-row: 2 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 0rem 3rem;
  margin-top: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.startpagina--reizen::-webkit-scrollbar {
  display: none;
}

.startpagina--journeyview {
  margin: 1rem 3rem 3rem 0rem;
  grid-row: 2 / -1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.form {
  background-color: #ffffff;
  -webkit-box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "from from"
 "to to"
 "date time"
 "vertrek aankomst"
 "submit submit";
  gap: 1rem;
  max-width: 450px;
  padding: 3rem;
  border-radius: 1rem;
}

.form > * {
  height: 40px;
  border-radius: 1rem;
  border: none;
}

.form--fromstation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: from;
  padding: 1.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #eeeeee;
}

.form--tostation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: to;
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #eeeeee;
}

.form--date {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: date;
}

.form--time {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: time;
}

.form--arrive-button,
.form--depart-button {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: "Poppins", sans-serif;
  background-color: #eeeeee;
}

.form--arrive-button:hover,
.form--depart-button:hover {
  background-color: #e0e0e0;
}

.form--arrive-button {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: aankomst;
  margin-top: 1rem;
}

.form--depart-button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: vertrek;
  margin-top: 1rem;
}

.form--submit-button {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
  height: 50px;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0em 1em;
  background-color: #f6dd20;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form--submit-button h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-right: 2rem;
  line-height: 1rem;
  font-weight: 500;
}

.form--submit-button svg {
  max-height: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.form--submit-button:hover svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-left: 0.5rem;
}

.form--submit-button:hover {
  background-color: #f1d119;
}

.input--active {
  background-color: #003183;
  color: #ffffff;
}

.input--active:hover {
  background-color: #00276b;
}

#toStationFilter {
  background-color: red;
}

@media (max-height: 630px) {
  .form {
    margin-top: auto;
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100vw;
  z-index: -1;
}

.background-train {
  position: absolute;
  bottom: 0;
  width: 600px;
  -webkit-animation: moving-train 8s infinite linear;
          animation: moving-train 8s infinite linear;
}

.background-train img {
  width: 100%;
}

@media (max-width: 1920px) {
  .background {
    background-size: 1920px;
    /* Force the image to its minimum width */
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.disruption {
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
}

.disruption:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.disruption--cause {
  color: #ff9100;
  font-size: 1rem;
}

.disruption--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.disruption--header h3 {
  color: #003183;
  font-size: 1.2rem;
}

.disruption--header svg {
  margin-right: 0.5rem;
  height: 25px;
  width: 25px;
  min-width: 25px;
}

.disruption--title h4 {
  color: #003183;
  font-size: 1rem;
}

.disruption--content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(110px, 1fr) 4fr;
      grid-template-columns: minmax(110px, 1fr) 4fr;
  font-size: 0.9rem;
}

.disruption--content p {
  margin-bottom: 0.5em;
  color: #003183;
}

.disruption--content h4 {
  font-weight: 400;
  margin-right: 1rem;
}

@media screen and (max-width: 450px) {
  .disruption--content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.disruptionen {
  height: calc(100% - 100px);
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 3rem;
}

.disruptionen h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  font-size: 2rem;
  color: #003183;
}

.disruptionen--container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.disruptionen--container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 850px) {
  .disruptionen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .disruptionen--hide-title {
    display: none;
  }
  .disruptionbutton--invisible {
    display: none;
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.disruptionview {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 2rem;
  -webkit-box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.disruptionview::-webkit-scrollbar {
  display: none;
}

.disruptionview--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.disruptionview--header h2 {
  margin-top: 0px;
  line-height: 1.2em;
  margin-bottom: 0em;
}

.disruptionview--header svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin-left: 1.5rem;
}

.disruptionview--calamity h2 {
  margin-top: 0px;
  line-height: 1.2em;
  margin-bottom: 0em;
}

.disruptionview--item {
  margin-top: 1rem;
  background-color: #eeeeee;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.disruptionview--item h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
}

.disruptionview--item p {
  font-size: 1rem;
}

.disruptionview--calamity h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.disruptionview--calamity button {
  border: none;
  padding: 0.75em 1.5em;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 1rem;
  background-color: #ffffff;
  color: #003183;
  border: 3px solid #00276b;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.disruptionview--calamity button:hover {
  color: #ffffff;
  background-color: #003183;
}

.disruptionen--button {
  display: none;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 850px) {
  .disruptionview {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-left: 0rem;
    margin-bottom: 0rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    border-radius: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    padding: 3rem;
    padding-top: 0px;
  }
  .disruptionpage--invisible {
    display: none;
  }
  .disruptionen--button {
    display: block;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #003183;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-top: 1rem;
  }
  .disruptionen--button:hover {
    opacity: 0.7;
  }
  .disruptionview--content {
    margin-top: auto;
  }
}

@media screen and (max-width: 450px) {
  .disruptionview--item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.nav-slideout {
  position: fixed;
  overflow-y: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 0 3rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 999;
  display: none;
}

.nav-slideout--header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slideout--header-close svg {
  width: 25px;
  max-width: 25px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  fill: #003183;
  cursor: pointer;
}

.slideout--header-close svg:hover {
  opacity: 0.8;
  fill: #f1d119;
}

.slideout--links {
  height: calc(100% - 200px);
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slideout--links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 400px;
  color: #003183;
}

.slideout--links button {
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  color: #003183;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.6em 1.5em;
  border-radius: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.slideout--links button:hover {
  background-color: #eeeeee;
}

.nav--selected button {
  background-color: #003183;
  color: #ffffff;
}

.nav--selected button:hover {
  background-color: #00276b;
}

.slideout--hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slideout--active-button button {
  background-color: #003183;
  color: #ffffff;
}

.slideout--active-button button:hover {
  background-color: #00276b;
}

@media screen and (max-width: 850px) {
  .nav-slideout {
    display: block;
  }
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.reizen--no-result {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
}

.journey:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.journey--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journey--left .journey--left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey--left .journey--left-top p {
  line-height: 1em;
  margin-right: 0.5rem;
  color: #003183;
  font-size: 1.7rem;
}

.journey--left .journey--left-bottom {
  font-size: 1rem;
}

.journey--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.journey--right .journey--right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #003183;
}

.journey--right .journey--right-top p {
  line-height: 0em;
  margin-left: 1rem;
  font-weight: 500;
}

.journey--right .journey--right-top svg {
  height: 20px;
  margin-left: 1rem;
  fill: #003183;
}

.journey--right .journey--right-top svg:first-child {
  margin-right: 0.3rem;
}

.journey--right .journey--right-top .crowd-low {
  fill: green;
}

.journey--right .journey--right-top .crowd-medium {
  fill: orange;
}

.journey--right .journey--right-top .crowd-high {
  fill: red;
}

.journey-cancelled {
  text-decoration: line-through;
}

.text-red {
  color: red;
}

@keyframes moving-train {
  0% {
    left: -700px;
  }
  100% {
    left: calc(100vw + 900px);
  }
}

.journeyview {
  background-color: #ffffff;
  width: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
  scrollbar-width: none;
  padding: 2rem;
  margin-bottom: 1rem;
}

.journeyview--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journeyview--top-left {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "depart space arrive"
 "departtime arrow arrivetime";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.journeyview--top-label {
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #3f3f3f;
  font-size: 0.7rem;
}

.journeyview--top-label:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: depart;
}

.journeyview--top-label:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: space;
}

.journeyview--top-label:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: arrive;
}

.journeyview--top-time {
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #003183;
  font-size: 1.7rem;
  line-height: 1em;
}

.journeyview--top-time:first-child {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: departtime;
}

.journeyview--top-time:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: arrow;
}

.journeyview--top-time:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: arrivetime;
}

.journeyview--top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journeyview--top-right-container p {
  font-family: "Poppins", sans-serif;
  color: #003183;
}

.journeyview--top-right-container svg {
  height: 15px;
  fill: #003183;
  margin-right: 0.6em;
}

.journeyview--top-plannedtrack {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #003183;
  border: 2.5px solid #003183;
  border-radius: 0.2em;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.journeyview--leg-item {
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
}

.journeyview--leg-item-station {
  color: #003183;
  font-size: 1.2rem;
  line-height: 1em;
  margin-top: 0em;
}

.journeyview--leg-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0em;
  padding-top: 0em;
}

.journeyview--leg-item-top-time {
  font-weight: 700;
  color: #003183;
  font-size: 1.7rem;
}

.journeyview--leg-item-departuretrack {
  color: #003183;
}

.journeyview--leg-item-arrivaltrack {
  color: #a7a7a7;
}

.journeyview--leg-item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  padding: 1em 0em;
}

.journeyview--leg-item-center-right svg {
  height: 20px;
  margin-left: 1rem;
}

.journeyview--leg-item-center-right .crowd-low {
  fill: green;
}

.journeyview--leg-item-center-right .crowd-medium {
  fill: orange;
}

.journeyview--leg-item-center-right .crowd-high {
  fill: red;
}

.journeyview--leg-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0em;
}

.journeyview--leg-item-bottom-time {
  color: #003183;
  font-size: 1.7rem;
}

.journeyview--prices {
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
}

.journeyview--prices h4 {
  font-size: 1.2rem;
  color: #003183;
}

.journeyview--prices h5 {
  font-size: 1.7rem;
  font-weight: 500;
}

.journeyview--prices p {
  margin-top: -0.5rem;
  margin-bottom: .5rem;
  color: #003183;
}

.journeyview--prices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journeyview--price:first-child {
  margin-right: 1.5rem;
}

.station--information-modal {
  z-index: 50000000000000000000000;
  position: absolute;
  margin-left: 200px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin-top: 200px;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff630), color-stop(#fbea28), color-stop(#f6dd20), color-stop(#f1d119), to(#ebc512));
  background-image: linear-gradient(to right, #fff630, #fbea28, #f6dd20, #f1d119, #ebc512);
  overflow-x: hidden;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -2;
}

.API-message {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
  max-width: calc(1000vw - 2 * 1rem);
}

.nav-margin {
  margin-top: calc(100px + 1rem);
}

.error {
  color: red;
}

.error--no-margin {
  margin-left: 0rem;
  margin-top: 0rem;
  position: relative;
}
/*# sourceMappingURL=style.css.map */