@import "../../styles/variables";

.journeyview {
    background-color: $clr--white;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
    padding: 2rem;
    margin-bottom: 1rem;
}

.journeyview--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journeyview--top-left {
    display: grid;
    grid-template-areas:
        "depart space arrive"
        "departtime arrow arrivetime";
    width: max-content;
}

.journeyview--top-label {
    margin-right: 0.5rem;
    font-family: $font--poppins;
    color: #3f3f3f;
    font-size: 0.7rem;

    &:first-child {
        grid-area: depart;
    }

    &:nth-child(2) {
        grid-area: space;
    }

    &:nth-child(3) {
        grid-area: arrive;
    }
}

.journeyview--top-time {
    margin-right: 0.5rem;
    font-family: $font--poppins;
    color: $clr--blue;
    font-size: 1.7rem;
    line-height: 1em;


    &:first-child {
        grid-area: departtime;
    }

    &:nth-child(2) {
        grid-area: arrow;
    }

    &:nth-child(3) {
        grid-area: arrivetime;
    }
}

.journeyview--top-right {
    display: flex;
}

.journeyview--top-right-container {
    p {
        font-family: $font--poppins;
        color: $clr--blue;
    }

    svg {
        height: 15px;
        fill: $clr--blue;
        margin-right: 0.6em;
    }
}

.journeyview--top-plannedtrack {
    font-family: $font--poppins;
    font-size: 1.3rem;
    color: $clr--blue;
    border: 2.5px solid $clr--blue;
    border-radius: 0.2em;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.journeyview--leg-item {
    margin-left: 2rem;
    font-family: $font--poppins;
}

.journeyview--leg-item-station {
    color: $clr--blue;
    font-size: 1.2rem;
    line-height: 1em;
    margin-top: 0em;
}

.journeyview--leg-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
    padding-top: 0em;

}


.journeyview--leg-item-top-time {
    font-weight: $font-weight--bold;
    color: $clr--blue;
    font-size: 1.7rem;
}

.journeyview--leg-item-departuretrack {
    color: $clr--blue;
}

.journeyview--leg-item-arrivaltrack {
    color: #a7a7a7;
}

.journeyview--leg-item-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    padding: 1em 0em;
}

.journeyview--leg-item-center-right {
    svg {
        height: 20px;
        margin-left: 1rem;
    }

    .crowd-low {
        fill: green;
    }

    .crowd-medium {
        fill: orange;
    }

    .crowd-high {
        fill: red;
    }
}

.journeyview--leg-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
}

.journeyview--leg-item-bottom-time {
    color: $clr--blue;
    font-size: 1.7rem;
}

.journeyview--prices {
    font-family: $font--poppins;
    margin-top: 1.5rem;

    h4 {
        font-size: 1.2rem;
        color: $clr--blue;

    }

    h5 {
        font-size: 1.7rem;
        font-weight: $font-weight--medium
    }

    p {
        margin-top: -0.5rem;
        margin-bottom: .5rem;
        color: $clr--blue;

    }
}

.journeyview--prices-container {
    display: flex;
}

.journeyview--price {
    &:first-child {
        margin-right: 1.5rem;
    }
}