@import "../../styles/variables";

.disruptionen {
  height: calc(100% - 100px);
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 $margin--sides;

  h2 {
    grid-column: 1 / 2;
    font-family: $font--poppins;
    font-weight: $font-weight--bold;
    margin-top: 2rem;
    font-size: 2rem;
    color: $clr--blue;
  }
}

.disruptionen--container {
  grid-column: 1 / 2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.disruptionen--container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 850px) {
  .disruptionen {
    display: flex;
    flex-direction: column;
  }

  .disruptionen--hide-title {
    display: none;
  }

  .disruptionbutton--invisible {
    display: none;
  }
}