@import "../../styles/variables";

.disruption {
  background-color: $clr--white;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  padding: 1.5rem;
  font-family: $font--poppins;
  cursor: pointer;
  transition: $transition--standaard;
  box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(0.98);
  }
}

.disruption--cause {
  color: rgb(255, 145, 0);
  font-size: 1rem;
}

.disruption--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  h3 {
    color: $clr--blue;
    font-size: 1.2rem;
  }

  svg {
    margin-right: 0.5rem;
    height: 25px;
    width: 25px;
    min-width: 25px;
  }
}

.disruption--title {
  h4 {
    color: $clr--blue;
    font-size: 1rem;
  }
}

.disruption--content {
  display: grid;
  grid-template-columns: minmax(110px, 1fr) 4fr;
  font-size: 0.9rem;

  p {
    margin-bottom: 0.5em;
    color: $clr--blue;
  }

  h4 {
    font-weight: $font-weight--regular;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .disruption--content {
    grid-template-columns: 1fr;
  }
}